# MSSQL (vista dbo.google - solo lectura)
MSSQL_HOST=192.168.35.222
MSSQL_PORT=1433
MSSQL_USER=sa
MSSQL_PASSWORD=R3cup3r02026
MSSQL_DATABASE=

# App
JWT_SECRET=cambiar-esto-en-produccion
JWT_EXPIRES=7d
APP_URL=http://localhost:3000
